:root {
  --color-primary: #212121;
  --color-text-deck: #757575;
  --color-invert: #fff;
  --color-opacity: rgba(255, 255, 255, 0.6);
  --color-action: #2196f3;
  --color-background-primary: #fff;
  --color-background-second: #2f303a;
  --color-background-brand: #f5f4fa;
  --color-background-action: #2196f3;
  --background-color-even: #188ce8;
  --color-border-one: #eeeeee;
  --color-fill-svg: #afb1b8;
  --color-background-animation: rgba(33, 150, 243, 0.9);
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-backdrop);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.9) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms var(--timing-function);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--color-background-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn_close_modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-background-primary);
}

.modal_svg_close {
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}

.modal_svg_close:hover,
.modal_svg_close:focus {
  fill: var(--color-action);
}

.form {
  font-family: "Roboto";
}

.modal_call_action {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}

.form_label {
  display: block;
  margin-bottom: 10px;
}

.form_text_label {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--color-text-deck);
}

.form_field {
  position: relative;
  display: block;
}

.form_input {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form_input:focus {
  outline: none;
  border-color: var(--color-action);
}

.icon_svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: --color-primary;
  transition: fill 250ms var(--timing-function);
}

.form_input:focus + .icon_svg {
  fill: var(--color-action);
}

.form_textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
  resize: none;
}

.form_textarea:focus {
  outline: none;
  border-color: var(--color-action);
}

.form_textarea:placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
}

/* hide */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* div */
.form_checkbox_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* create custom checkbox */
.label_policy::before {
  content: " ";
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms var(--timing-function);
}

.checkbox:focus + .label_policy::before {
  border-color: var(--color-action);
}

.checkbox:checked + .label_policy::before {
  background-color: var(--color-action);
  background-image: url("../image/icon_check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border-color: var(--color-action);
  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.label_policy {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-text-deck);
}

.policy_checkbox_link {
  text-decoration: underline;
  color: var(--color-action);
}

.btn_submit {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-invert);
  background-color: var(--color-action);
  border-color: var(--color-action);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), border-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.btn_submit:hover,
.btn_submit :focus {
  background-color: var(--background-color-even);
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}

.nav_link_logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  transition: color 250ms var(--timing-function);
}

.nav_link_logo .current:hover,
.nav_link_logo .current:focus {
  color: var(--background-color-even);
}

.nav_link_logo .current {
  color: var(--color-action);
}

.team_list_icon {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.teams_link_icon {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-primary);
  transition: background-color 250ms var(--timing-function);
}

.teams_link_icon:hover,
.teams_link_icon:focus {
  background-color: var(--color-action);
}

.teams_icon {
  fill: var(--color-fill-svg);
  transition: fill 250ms var(--timing-function);
}

.teams_link_icon:hover .teams_icon,
.teams_link_icon:focus .teams_icon {
  fill: var(--color-background-primary);
}

.team_item_icon:not(:last-of-type) {
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.nav-item {
  display: flex;
}

.nav_link_menu {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.nav_link_menu.current {
  color: var(--color-action);
}

.nav_link_menu.current.lineal::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-background-action);
  /* transition: opacity 250ms var(--timing-function); */
}

.nav_list:not(:last-of-type) {
  margin-right: 50px;
}

.nav_list .nav_link_menu:hover,
.nav_list .nav_link_menu:focus {
  color: var(--background-color-even);
}

.header-contact {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-left: auto;
}

.email-img,
.email-tel {
  margin-right: 10px;
  fill: var(--color-text-deck);
  transition: fill 250ms var(--timing-function);
}

.header_link_email:hover .email-img,
.header_link_email:focus .email-img,
.header_link_tel:hover .email-tel,
.header_link_tel:focus .email-tel {
  fill: var(--color-action);
}

.header_list_email {
  margin-left: auto;
}

.header_link_email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.02em;
  color: var(--color-text-deck);
  transition: color 250ms var(--timing-function);
}

.header_list_tel {
  margin-left: 30px;
}

.header_link_tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.02em;
  color: var(--color-text-deck);
  transition: color 250ms var(--timing-function);
}

.header_link_tel:hover,
.header_link_email:hover,
.header_link_tel:focus,
.header_link_email:focus {
  color: var(--background-color-even);
}/*# sourceMappingURL=main.css.map */