:root {
  --color-primary: #212121;
  --color-text-deck: #757575;
  --color-invert: #fff;
  --color-opacity: rgba(255, 255, 255, 0.6);
  --color-action: #2196f3;
  --color-background-primary: #fff;
  --color-background-second: #2f303a;
  --color-background-brand: #f5f4fa;
  --color-background-action: #2196f3;
  --background-color-even: #188ce8;
  --color-border-one: #eeeeee;
  --color-fill-svg: #afb1b8;
  --color-background-animation: rgba(33, 150, 243, 0.9);
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  display: block;
}
.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-primary);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.nav-item {
  display: flex;
}
.nav_link_logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;

  color: var(--color-primary);
  transition: color 250ms var(--timing-function);
}
.nav_link_logo .current:hover,
.nav_link_logo .current:focus {
  color: var(--background-color-even);
}
.nav_link_logo .current {
  color: var(--color-action);
}

.nav_link_menu {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.nav_link_menu.current {
  color: var(--color-action);
}
.nav_link_menu.current.lineal::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-background-action);

  /* transition: opacity 250ms var(--timing-function); */
}

.nav_list:not(:last-of-type) {
  margin-right: 50px;
}
.nav_list .nav_link_menu:hover,
.nav_list .nav_link_menu:focus {
  color: var(--background-color-even);
}

.header-contact {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-left: auto;
}
.email-img,
.email-tel {
  margin-right: 10px;
  fill: var(--color-text-deck);
  transition: fill 250ms var(--timing-function);
}

.header_link_email:hover .email-img,
.header_link_email:focus .email-img,
.header_link_tel:hover .email-tel,
.header_link_tel:focus .email-tel {
  fill: var(--color-action);
}

.header_list_email {
  margin-left: auto;
}
.header_link_email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.02em;

  color: var(--color-text-deck);
  transition: color 250ms var(--timing-function);
}
.header_list_tel {
  margin-left: 30px;
}
.header_link_tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.02em;

  color: var(--color-text-deck);
  transition: color 250ms var(--timing-function);
}
.header_link_tel:hover,
.header_link_email:hover,
.header_link_tel:focus,
.header_link_email:focus {
  color: var(--background-color-even);
}

.contact {
  max-width: 1600px;
  margin: 0 auto;

  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--color-background-second);

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/change-4/background-image-contact.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;

  color: var(--color-invert);
}

.contact_title {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--color-invert);
}
.contact_btn {
  display: block;
  margin: 0 auto;
  min-width: 216px;
  padding: 10px 22px 10px 22px;
  border: 4px solid var(--color-action);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--color-background-action);
  color: var(--color-invert);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  transition: background-color 250ms var(--timing-function);
}
.contact_btn:hover,
.contact_btn:focus {
  background-color: var(--background-color-even);
}
.about_item {
  display: flex;
}
.about_list_feature:not(:last-of-type) {
  margin-right: 30px;
}
.about_list_feature {
  max-width: 270px;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* 4e */
.about_link_item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-background-brand);
  border-radius: 4px;
}

.about_feature_title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;

  color: var(--color-primary);
}
.descript_text {
  font-weight: 400;
  line-height: 1.7;

  color: var(--color-text-deck);
}
.work {
  padding-bottom: 94px;
}

.work_relative_img {
  position: relative;
}

.work_list_img {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.work-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.work_absolute_title {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.work_feature_title {
  margin-bottom: unset;
  font-size: 16px;
  color: var(--color-background-primary);
}

.teams {
  font-family: "Roboto";
  background-color: var(--color-background-brand);
}

.team_list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /*  2й спосіб*/
}
/* .teams_item:not(:nth-child(4n)) {
  margin-right: 30px;
} */
.teams_item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  background: var(--color-background-primary);
}

.team_member_card {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--color-background-primary);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teams_name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-primary);
}
.teams_position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-text-deck);
}
/* 4e */
.team_list_icon {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
.teams_link_icon {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-primary);

  transition: background-color 250ms var(--timing-function);
}
.teams_link_icon:hover,
.teams_link_icon:focus {
  background-color: var(--color-action);
}
.teams_icon {
  fill: var(--color-fill-svg);
  transition: fill 250ms var(--timing-function);
}
.teams_link_icon:hover .teams_icon,
.teams_link_icon:focus .teams_icon {
  fill: var(--color-background-primary);
}

.team_item_icon:not(:last-of-type) {
  margin-right: 10px;
}

.partner_list {
  display: flex;
}

.partner_item {
  width: 170px;
  height: 92px;
}

.partner_link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  border: 1px solid var(--color-fill-svg);
  transition: border 250ms var(--timing-function);
}
.partner_item:hover .partner_link,
.partner_item:focus .partner_link {
  border: 1px solid var(--color-action);
}

.partner_item:not(:last-of-type) {
  margin-right: 30px;
}

.partner_icon {
  width: 106px;
  height: 60px;
  fill: var(--color-fill-svg);
  transition: fill 250ms var(--timing-function);
}
.partner_link:hover .partner_icon,
.partner_link:focus .partner_icon {
  fill: var(--color-action);
}

.footer {
  padding: 60px 0;
  background-color: var(--color-background-second);
}

address {
  margin-top: 20px;
}
.footer_address_container {
  margin-right: 70px;
}
.address_list {
  display: block;
  font-style: normal;
}

.footer_logo_link {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--color-invert);
}
.footer_logo_link .current {
  color: var(--color-action);
}
.address_list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.address_city_item {
  margin-bottom: 9px;
}
.address_item {
  margin-bottom: 9px;
}

.address_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  color: var(--color-invert);
}
.footer_contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  color: var(--color-opacity);
}
.footer_form {
  display: flex;

  margin-left: auto;
}
.footer_form_call {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-invert);
}
.footer_form_input {
  display: flex;

  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-invert);
  transition: border-color 250ms var(--timing-function);
}
.footer_form_input:focus {
  outline: none;
  border-color: var(--color-action);
}
.footer_form_input::placeholder {
  color: var(--color-invert);
}

.footer_form_btn {
  position: relative;
  margin-top: 36px;
  margin-left: 12px;
  min-width: 200px;
  padding: 10px 60px 10px 28px;
  border: 1px solid var(--color-action);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: var(--color-background-action);
  color: var(--color-invert);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--timing-function);
}

.footer_form_btn:hover,
.footer_form_btn:focus {
  background-color: var(--background-color-even);
}
.footer_form_icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);

  display: block;
  margin-left: 10px;

  width: 24px;
  height: 24px;
  fill: #fff;
}

.flex {
  display: flex;
  align-items: baseline;
}
.footer_social_list {
  display: flex;
}
.footer_social_title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-background-primary);
}
.social_item:not(:last-of-type) {
  margin-right: 10px;
}
.social_link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-invert);
  transition: background-color 250ms var(--timing-function);
}
.social_link:hover,
.social_link:focus {
  background-color: var(--color-action);
}
/* portfolio css */
.services_list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.services_item_btn:not(:last-of-type) {
  margin-right: 10px;
}
.services_btn {
  padding: 6px 26px;
  background: var(--color-background-brand);
  border: var(--color-background-brand);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-primary);
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.services_btn:hover,
.services_btn:focus {
  background: var(--color-background-action);

  color: var(--color-background-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.server_menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-basis: calc((100% - 90px) / 3);
}
.server_item {
  margin-left: 30px;
  margin-bottom: 30px;
}

.server_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-animation);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.server_card:hover .server_overlay {
  transform: translateY(0);
}

.server_relative_img {
  position: relative;
  overflow: hidden;
}

.server_absolute_text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 63px 24px;
}

.server_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-background-primary);
}

.card_border {
  padding: 20px 24px;

  background: var(--color-background-primary);
  border: 1px solid var(--color-border-one);
  border-top: none;
}
.server_card {
  transition: box-shadow 250ms var(--timing-function);
}
.server_card:hover .card_border,
.server_card:focus .card_border {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.server_card .server_img,
.server_card .card_border {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 0px 0px rgba(0, 0, 0, 0.06);
  transition: box-shadow 250ms var(--timing-function);
}

.server_card:hover .server_img,
.server_card:focus .server_img {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* 
.server_item:hover,
.server_item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */
.server_menu_title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}
.server_menu_descript {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: var(--color-text-deck);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-backdrop);

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.9) translate(-50%, -50%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms var(--timing-function);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--color-background-primary);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.btn_close_modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-background-primary);
}

.modal_svg_close {
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}

.modal_svg_close:hover,
.modal_svg_close:focus {
  fill: var(--color-action);
}
.form {
  font-family: "Roboto";
}
.modal_call_action {
  display: block;
  margin-bottom: 12px;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
.form_label {
  display: block;
  margin-bottom: 10px;
}
.form_text_label {
  margin-bottom: 4px;
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--color-text-deck);
}

.form_field {
  position: relative;
  display: block;
}

.form_input {
  display: block;
  padding-left: 42px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form_input:focus {
  outline: none;
  border-color: var(--color-action);
}

.icon_svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: (--color-primary);
  transition: fill 250ms var(--timing-function);
}

.form_input:focus + .icon_svg {
  fill: var(--color-action);
}

.form_textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
  resize: none;
}

.form_textarea:focus {
  outline: none;
  border-color: var(--color-action);
}
.form_textarea:placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
}

/* hide */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* div */
.form_checkbox_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 30px;
}
/* create custom checkbox */
.label_policy::before {
  content: " ";
  display: inline-block;
  margin-right: 8px;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;

  transition: border-color 250ms var(--timing-function);
}

.checkbox:focus + .label_policy::before {
  border-color: var(--color-action);
}

.checkbox:checked + .label_policy::before {
  background-color: var(--color-action);
  background-image: url("../image/icon_check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border-color: var(--color-action);

  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.label_policy {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-text-deck);
}

.policy_checkbox_link {
  text-decoration: underline;
  color: var(--color-action);
}

.btn_submit {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-invert);
  background-color: var(--color-action);
  border-color: var(--color-action);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    border-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.btn_submit:hover,
.btn_submit :focus {
  background-color: var(--background-color-even);
}
